.header {
    background-color: var(--amarillo);
}

.logo {
    width: 40%;
    margin: 30px 0pc 10px 30px;
}

.header__form {
    margin-left: 25px;
}

.header__form input {
    width: 55%;
    font-size: var(--descripciones);
}

#lupa {
    margin-left: 3px;
    background-color: var(--gris_claro);
    padding: 3px;
    border: 1px solid gray;
    border-radius: 3px;
}

.header__p {
    text-align: center;
    margin: 15px 0px;
    font-size: var(--descripciones);
}

.header__nav {
    display: none;
}

.header_nav_ul li {
    list-style-type: none;
    margin-left: -40px;
}

.header_nav_ul li a {
    text-decoration: none;
    color: black;
}

.burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    
}

.burger-menu i {
    background-color: var(--celeste);
    padding: 10px 12px;
    border-radius: 5px;
    color: white;
    font-size: var(--titulares);
}

.body__main__section__div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.body__main__section__div img {
    width: 100vw;
}

/* tablet */

@media (min-width: 768px) {
    
    .header__nav {
        display: block;
    }

    .burger-menu {
        display: none;
    }
}

/* desktop */

@media (min-width: 1280px) {

    .header__nav {
        display: block;
    }

    .burger-menu {
        display: none;
    }
}