.header {
    background-color: var(--amarillo);
}

.logo_mas_busqueda {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 15px 10px;
}

.logo {
    width: 45%;
}

.header__form {
    position: relative;
}

.header__form input {
    height: 40px;
    width: 180px;
    border-radius: 5px;
    border: none;
    font-size: 13px;
}

#lupa {
    position: absolute;
    color: var(--gris_oscuro);
    right: 5px;
    top: 13px;
    font-weight: 800;
}

.header__p {
    text-align: center;
    margin: 15px 0px;
    font-size: 14px;
    font-weight: 400;
}

.header__nav {
    display: none;
}

.header_nav_ul li {
    list-style-type: none;
    margin-left: -40px;
}

.header_nav_ul li a {
    text-decoration: none;
    color: black;
}

.burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
    
}

.burger-menu i {
    background-color: var(--celeste);
    padding: 8px 10px;
    border-radius: 5px;
    color: white;
    font-size: var(--titulares);
}

.body__main__section__div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.body__main__section__div img {
    width: 100vw;
}

/* tablet */

@media (min-width: 768px) {

    .header__div {
        display: flex;
        align-items: center;
    }

    .logo_mas_busqueda {
        width: 60%;
        padding-right: 0;
    }

    .header__form input {
        width: 230px;
    }

    .header__p {
        padding-top: 25px;
        margin: 0 auto;
    }
    
    .header__nav {
        display: flex;
        justify-content: space-between;
    }    

    .header_nav_ul {
        display: flex;
        gap: 15px;
        margin: 30px 20px 15px -20px;
    }

    .header_nav_ul li {
        margin-left: 0px;
        font-size: 14px;
    }

    .burger-menu {
        display: none;
    }
}

/* desktop */

@media (min-width: 1280px) {

    .header__nav {
        display: block;
    }

    .burger-menu {
        display: none;
    }
}